@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.todo-item {
  @extend .list-group-item;

  text-decoration: none;
  margin: 5px;
  background: #fc0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  
  &#{&}_completed {
    text-decoration: line-through;
  }
}

